

<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<div class="row">
				  		<h2>User info</h2>
				  		<%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
				  		<table class="table">
				  			<tbody>
				  				<tr>
					  				<th>name</th>
					  				<th><%= @user.name %></th>
					  			</tr>
					  			<tr>
					  				<th>introduction</th>
					  				<th><%= @user.introduction %></th>
					  			</tr>
					  			<tr>
					  				<th>follows</th>
					  				<th><%= link_to following_user_path(@user) do %>
					  					<%= @user.followings.count %>
					  					<% end %>
					  				</th>
					  			</tr>
					  			<tr>
					  				<th>followers</th>
					  				<th><%= link_to followers_user_path(@user) do %>
					  					<%= @user.followers.count %>
					  					<% end %>
					  				</th>
					  			</tr>
				  			</tbody>
				  		</table>
				</div>
				<div class="row">

				  			<%= link_to "", edit_user_path(@user.id), class: "col-xs-10 btn btn-default glyphicon glyphicon-wrench" %>

				  		<br>
				  		<br>
						<% unless current_user == @user %>
						  	<% if current_user.following?(@user) %>
						    	<%= form_for @user, url:user_relationships_path(@user.id), html: { method: :delete } do |f| %>
						      	<%= hidden_field_tag :follow_id, @user.id %>
						      	<%= f.submit 'フォローを外す', class: "col-xs-10 btn btn-primary" %>
						    	<% end %>
						  	<% else %>
						   		<%= form_for @user, url:user_relationships_path(@user.id), html: { method: :post } do |f| %>
								<%= hidden_field_tag :follow_id, @user.id %>
								<%= f.submit 'フォローする', class: "col-xs-10 btn btn-success" %>
						  		<% end %>
						  	<% end %>
						<% end %>
				</div>

				<div class="row">

						<h2>New book</h2>
						<%= form_for(@book) do |f| %>

						<h4>Title</h4>
						<%= f.text_field :title, :size=>"30x26" %>

						<h4>Opinion</h4>
						<%= f.text_area :body, :size=>"29x2" %>

						<%= f.submit 'Create Book', class: "col-xs-10 btn btn-primary" %>

						<% end %>
				</div>
			</div>

			<div class="col-xs-9">
						<h2>Books</h2>
							<table class="table">
						  		<thead>
						 			<tr>
						 				<th></th>
						 				<th width="165">Title</th>
						 				<th width="250">Opinion</th>
						 				<th></th>
						 			</tr>
						  		</thead>
						  		<tbody>
						  			<% @user.books.each do |book| %>
						 				<tr>
						 					<td>
						 						<%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "50x50", fallback: "no_image.jpg" %>
						 					</td>

						 					<td>
						 					 <%= link_to(book.title,"/books/#{book.id}") %>
						 					<td>
						 						<%= book.body %>
						 					</td>
						 					<td>
												<%= "コメント数：" %><%= book.book_comments.count %>
											</td>
						 				</tr>
						 			<% end %>
						 		</tbody>
							</table>
			</div>
		</div>
	</div>
</div>